<!DOCTYPE html>
<!--
To change this license header, choose License Headers in Project Properties.
To change this template file, choose Tools | Templates
and open the template in the editor.
-->
<html>
    <head>
        <title>Гостевая книга</title>
        <meta charset="UTF-8">
        <meta name="viewport" content="width=device-width, initial-scale=1.0">
    </head>
    <body>
        <div><p>Здравствуй,&nbsp%s!&nbsp&nbsp&nbsp
        %s  
        </p>
        </div>
        
        <div>
            <h4>Гостевая книга</h4>
            <!---msg_block--->
            <div>%s</div>
            <!---navi_block--->
            <div>%s</div>
            <!---msg_input--->
            <div>%s</div>
        </div>
    </body>
</html>
