<div>
<!---author_name--->
<p><b>%s</b>

<!---msg_date--->
от %s
 
<!---author_ip--->
IP[%s]
       
<!---space for Edit-word--->
%s

<!---msg_text --->   
<br><br><font color="gray">%s</font></p>
<hr align="left" width="50%%"><br><br>
</div>